@import 'reset.css'
@import 'docco.css'
@import 'markdown.css'

pre{
    padding: 0;
    margin: 0;
}
code{
    display: inline-block;
    background: #f7f7f7;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    margin: 0 3px;
    padding: 1px 5px;
    border-radius: 3px;
    color: #666;
    border: 1px solid #eee;
}
pre code{
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}
pre.bg code{
    background: #f7f7f7;
}
